<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <meta name="p:domain_verify" content="48247dea9762d6b1823b287188687290"/>
  <link rel="canonical" href="https://leons.dev/" />
  {{ if .Site.Params.favicon_ico }}
    <link rel="icon" href="{{ .Site.Params.favicon_ico | printf "/images/icons/%s" | relURL  }}" type="image/x-icon" {{ if .Site.Params.favicon_ico_sizes }}sizes="{{ .Site.Params.favicon_ico_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_png }}
    <link rel="icon" href="{{ .Site.Params.favicon_png | printf "/images/icons/%s" | relURL  }}" type="image/png" {{ if .Site.Params.favicon_png_sizes }}sizes="{{ .Site.Params.favicon_png_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_svg }}
    <link rel="icon" href="{{ .Site.Params.favicon_svg | printf "/images/icons/%s" | relURL  }}" type="image/svg+xml" sizes="any" />
  {{ end }}
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.appleicon | printf "/images/icons/%s" | relURL  }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}" />

  {{ if not .Site.Params.custom_background }}
    <link rel="stylesheet" href="{{ "/assets/css/page.css" | relURL }}" />
  {{ end }}

  {{ if not .Site.Params.custom_icons }}
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relURL }}" />
  {{ end }}

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}


  <noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | relURL }}" /></noscript>
</head>
