<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <link rel="canonical" href="https://leons.dev/" />
<!-- Start of Async Drift Code -->
<script>
  "use strict";
  
  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('det9ssxbwmby');
  </script>
  <!-- End of Async Drift Code -->
  {{ if .Site.Params.favicon_ico }}
    <link rel="icon" href="{{ .Site.Params.favicon_ico | printf "/images/icons/%s" | relURL  }}" type="image/x-icon" {{ if .Site.Params.favicon_ico_sizes }}sizes="{{ .Site.Params.favicon_ico_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_png }}
    <link rel="icon" href="{{ .Site.Params.favicon_png | printf "/images/icons/%s" | relURL  }}" type="image/png" {{ if .Site.Params.favicon_png_sizes }}sizes="{{ .Site.Params.favicon_png_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_svg }}
    <link rel="icon" href="{{ .Site.Params.favicon_svg | printf "/images/icons/%s" | relURL  }}" type="image/svg+xml" sizes="any" />
  {{ end }}
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.appleicon | printf "/images/icons/%s" | relURL  }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}" />

  {{ if not .Site.Params.custom_background }}
    <link rel="stylesheet" href="{{ "/assets/css/page.css" | relURL }}" />
  {{ end }}

  {{ if not .Site.Params.custom_icons }}
  <script src="https://kit.fontawesome.com/a6de7db70c.js" crossorigin="anonymous"></script>
  {{ end }}

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}


  <noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | relURL }}" /></noscript>
</head>
