<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <link rel="canonical" href="https://leons.dev/" />
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5e397c76a89cda5a18841146/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  {{ if .Site.Params.favicon_ico }}
    <link rel="icon" href="{{ .Site.Params.favicon_ico | printf "/images/icons/%s" | relURL  }}" type="image/x-icon" {{ if .Site.Params.favicon_ico_sizes }}sizes="{{ .Site.Params.favicon_ico_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_png }}
    <link rel="icon" href="{{ .Site.Params.favicon_png | printf "/images/icons/%s" | relURL  }}" type="image/png" {{ if .Site.Params.favicon_png_sizes }}sizes="{{ .Site.Params.favicon_png_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_svg }}
    <link rel="icon" href="{{ .Site.Params.favicon_svg | printf "/images/icons/%s" | relURL  }}" type="image/svg+xml" sizes="any" />
  {{ end }}
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.appleicon | printf "/images/icons/%s" | relURL  }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}" />

  {{ if not .Site.Params.custom_background }}
    <link rel="stylesheet" href="{{ "/assets/css/page.css" | relURL }}" />
  {{ end }}

  {{ if not .Site.Params.custom_icons }}
  <script src="https://kit.fontawesome.com/a6de7db70c.js" crossorigin="anonymous"></script>
  {{ end }}

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}


  <noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | relURL }}" /></noscript>
</head>
